.wikiSyntax, .wikiSyntax code{
  font-family:Bitstream Vera Sans Mono, Courier New, GulimChe, monospace;
  padding:0.5em;
}

div.sectionEdit {
  margin-right:5px; margin-top:3px;
  visibility:hidden;
}

#wikiContent div:hover .sectionEdit {
  visibility:visible;
}

* html div.sectionEdit {
  visibility:visible; /* for IE */
}

div.sectionEdit:hover {
  visibility:visible;
}

.gallery-img {
  /* float:left; */
}
.gallery-sel {
  padding-bottom:10px;
}

.gallery-comments {
  padding: 5px;
}

.gallery-prev-link {
  float:left;
}
.gallery-next-link {
  float:right;
}

.gallery-top-link {
  visibility:hidden;
}

.cloudView {
  display:inline;
}

.cloudView ul{
  padding:0px;
  margin:0px;
  display:inline;
}

.cloudView li{
  font-family:Trebuchet MS,Georgia,Verdana,sans-serif;
  list-style:none;
  white-space: nowrap;
  display:inline;
  padding-left:0px;
}

span.tag-name {
}

.cloudView li.tag-item {
  padding-left:5px;
  font-size:14px;
}

#wikiBody .cloudView a:link, #wikiBody .cloudView a:visited {
  text-decoration:none;
  color:#000000;
}

#wikiBody .cloudView a:hover {
  text-decoration:underline;
  color:#0000ff;
}

.cloudView ul {
  margin:0;
}

.wikiChat ul {
  list-style:none;
  padding:2px;
  margin:0px;
}

.wikiChat span.user {
  font-family:Trebuchet MS,sans-serif;
  padding-left:2px;
  padding-right:2px;
}

.wikiChat span.date {
  font-family:Trebuchet MS,sans-serif;
  padding-right:2px;
}

.blocked {
  background-color:#ff0000;
  color:#fff;
}

div.tourLeft {
  width:60%;
  float:left;
}

div.tourRight {
  width:40%;
  float:right;
}

div.tourFoot {
  clear:both;
}

div.tourLeft > ul li {
  display:inline;
  margin:0;
  padding:0;
}

.depth-1 {
  background-color:#fafafa;
  padding:1em;
}
ul.depth-2 {
  background-color:#f0f0f0;
  padding:1em;
}
ul.depth-3 {
  background-color:#eaeaea;
  padding:1em;
}
ul.depth-4 {
  background-color:#e0e0e0;
  padding:1em;
}
ul.depth-5 {
  background-color:#b0b0b0;
  padding:1em;
}

.wikiFortune {
  font-family: Bitstream Vera Sans Mono,Courier New,monospace;
  white-space:pre;
}

.soundOff {
  background:url(../imgs/plugin/Chat/sound_off.png) no-repeat;
  width:16px;
  border:0;
}

.soundOn {
  background:url(../imgs/plugin/Chat/sound_on.png) no-repeat;
  width:16px;
  border:0;
}

/* for po processor */
.msgid { color:blue; }
.msgstr { color:blue; }
.pofuzzy { color:red; }
.potype { color:blue; }
.posrc { color:red; }
.poold { color:#909090; }
.posym { color:red; }
.potok { color:violet; }

/* bts */
.bts-comment {
  padding-top: 3px;
  padding-left:8px !important;
  border-left: 3px solid #d7b7fb;
}

span.VisualTour img {
  border:0px;
}

span.VisualTour {
  overflow:auto;
}

/* admin plugin */
#admin-submenu li {
  font-family: Trebuchet MS,sans-serif;
  font-size:14px;
  display: inline;
  line-height: 200%;
  list-style: none;
  text-align: center;
}

#admin-submenu {
  background: #DFE8FF;
  border-bottom: none;
  margin: 0;
  padding: 3px 2em 0px 3em;
}

#admin-submenu li a,#admin-submenu li a:visited {
  text-decoration:none;
  color: #000;
  font-size:14px;
}

#admin-submenu .current {
  font-weight:bold;
  background: #f9fcfe;
  border-top: 1px solid #bcbcbc;
  border-right: 2px solid #808080;
  color: #000;
}

#admin-submenu a {
  border: none;
  color: #fff;
  font-size: 12px;
  padding: .3em .4em .33em;
}

#admin-submenu li a:hover {
  background: #F0F4FF;
  color: #393939;
}

#admin-submenu li {
  line-height: 170%;
}

/* Scriptaculous autocompleter */
.autocomplete, #autocomplete_choices {
  font-size:11px;
  font-family : tahoma, arial, helvetica, sans-serif;
  width: 350px;
  background: #fff;
  border:1px solid #888;
  z-index:100;
}

.autocomplete ul,#autocomplete_choices ul {
  margin:0px;
  padding:0px;
  width:100%;
  list-style-type:none;
}

.autocomplete ul li.selected,#autocomplete_choices ul li.selected {
  background-color: #316ac5;color:white;
}

.autocomplete ul li,#autocomplete_choices ul li {
  margin:0;
  padding:3px;
  list-style-image: none;
  cursor:pointer;
}

