@import url("../../../css/_base.css");
@import url("../../../css/_extra.css");
@import url("../../../css/_calendar.css");

body {
  font-family:Georgia,Verdana,Lucida,sans-serif;font-size:12px;
  color:#000;
  margin-left:0px;
  margin-right:0px;
  margin-top:0px;
  margin-bottom:0px;
}

#mainBody {
/* top:15px; /* */
/* padding-left:100px;
  padding-right:100px; */
  min-width:750px;
  margin: 0px auto 0px auto;
  width: 80%;
  min-height:400px;
  height: auto !important; /* IE min-height hack */
  height:400px;
  /*\*/ min-width: 750px; /* IE fix */
}

div {
/* border:1px solid red; /* */
}

#topHeader {
  padding-left:15px;
  padding-top:2px;
  color:white;
  font-family:Tahoma,Verdana,sans-serif;
  font-size:11px;
  font-weight:bold;
}

#topHeader a{
  color:white;
  text-decoration:none;
}

#topBanner {
  height:48px;
  font-size:40px;
  font-family:Tahoma,sans-serif;
  color:white;
  padding-left:8px;
  padding-top:10px;
  padding-bottom:0px;
  margin:0px;
  overflow-y:hidden;
  /* overflow:hidden; does not work correctly in the mozilla */
}

#pTopLeft {
  background: url("../imgs/ntl.png") no-repeat;
  z-index:4;
}

#pTopRight {
  background: url("../imgs/ntr.png") no-repeat right top;
  z-index:4;
}

#pBanSpace {
  height:3px;
}

#pBanner {
  height:50px;
  padding:0px;
  font-size:36px;
  text-align:center;
  font-family:Trebuchet MS,Tahoma,Lucida,sans-serif;
  margin:0;
  line-height:20%;
}

#pBanner p {
  padding:0;
  margin:0;
  font-size:12px;
}

#pBanner img {
  vertical-align:middle;
}

#pBanLeft {
  padding:0;
  margin:0;
}

#pBanRight {
  padding:0;
  margin:0;
}

#pTitle {
  padding:0px;
}

#pTitle img {
  vertical-align:middle;
}

#pBottomMargin {
  height:20px;
}

#pBottomLeft {
  background: url("../imgs/nbl.png") no-repeat left bottom;
  z-index:1;
  padding:0;
}
#pBottomRight {
  background: url("../imgs/nbr.png") no-repeat right bottom;
  z-index:1;
  padding:0;
}

.pBodyLeft {
  background: url("../imgs/nl.png") repeat-y left;
  z-index:-5;
}
.pBodyRight {
  background: url("../imgs/nr.png") repeat-y right;
  z-index:-5;
}

#wikiSplash {
  height:150px;
  background: url("../imgs/img2.jpg") repeat-x;
  padding:0;
  margin:0;
  margin-left:20px;
  margin-right:22px;
}

#goForm {
  float:right;
  padding: 3px 6px;
}

form {
  margin-bottom:0px; /* IE hack */
}

#wikiPage, #wikiHeadPage {
  margin-left:13px;
  margin-right:15px;
  padding-bottom:10px;
}

#wikiHeadPage {
  padding-top:10px;
}

#wikiPage {
  padding-top:0;
  min-height:400px;
  height: auto !important; /* IE min-height hack */
  height:400px;

}

#wikiBanner {
  padding-top:5px;
  text-align:center;
  font-family: "Trebuchet MS",Georgia,sans-serif;
}

a:link { color: #0686db;}
a:visited { color: #000000;}
/* a:hover {background-color:#999966;color:white} /* */
.wikiTitle {
  padding-left:10px;
  font-family:Trebuchet MS,Tahoma,Lucida,sans-serif;
  font-size:22px;
  font-weight:bold;
  text-decoration: none;
  display:inline;
}

.wikiTitle a,.wikiTitle a:active,.wikiTitle a:visited {
  color: #0686db;
}

tt.wiki {font-family:Monotype,Lucida Console,lucida,monospace;font-size:12px;}
tt.foot {
  font-family:Tahoma,lucida,monospace;
  font-size:11px;
  vertical-align: super;
}

tt.sister {
  font-family:Tahoma,lucida,monospace;
  font-size:11px;
  vertical-align: super;
  text-decoration: none;
}

pre {
  white-space:pre-wrap;
  white-space: -moz-pre-wrap;
  overflow: auto;
}

pre.wiki {
  padding-left:6px;
  padding-top:6px; 
  font-family:"Bitstream Vera Sans Mono", Courier, GulimChe, monospace !important;
  background-color:#000000;
  color:#c0c0c0;
  border:1px solid #cccc99;
  border-left:10px solid #cccc99;
  padding:10px;
  white-space:pre;
  white-space: -moz-pre-wrap;
}

pre.console {
  background-color: #000000;
  color: #E0E0E0;
  padding: .25em ;
  border: 2px inset #808080;
}

pre.quote {
  padding-left:6px;
  padding-top:6px;
  white-space:pre-wrap;
  white-space: -moz-pre-wrap; 
  font-family:Georgia,monotype,lucida,monospace;font-size:14px;
  background-color: #E9ECEF;
}

.wikiSyntax {
  font-family:"Bitstream Vera Sans Mono", Courier, GulimChe, monospace !important;
  border:1px solid #cccc99;
  border-left:10px solid #cccc99;
  padding:10px;
}

table.wiki {
/* background-color:#E2ECE5;
  background-color: #F8F7F0;
  border-collapse: collapse;
  border: 0px outset #ddddb0; */
}

table.wiki tr {
  background-color: #F8F7F0; 
/* border-collapse: collapse; */
/* border: 0px inset #EAF2F4; */
}

textarea.wiki { width:98%; }

th.info {
  background-color:#E2ECE2;
/*  border-collapse: collapse; */
/*  border: 1px solid silver; */
}

td.info {
  background-color:#E2ECE2;
}

h1,h2,h3,h4,h5 {
  font-family:Tahoma,sans-serif;
  padding-left:2px;
  border-bottom:1px solid #C0c0c0;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
  text-decoration:none;
}

ul {
  list-style-image: url(../imgs/li1.png);
}

ul>li ul>li {
  list-style-image: url(../imgs/li2.png);
}

ol {
  list-style-image: none;
}

h2,h1 {
  padding-top:10px;
}

* html a.perma:visited { /* IE hack */
  color:#000;
}

div.message {
  margin-top: 3pt;
  background-color: #E8E8E8;
  border-color:#ee0000;
  color:#440000;
  padding:5px;
  min-height: 40px;
  height: auto !important;
  height:40px;
  border-width:2px 0 2px 0;
  margin:0 10px 5px 10px;
}

div.message h3 {
  border:0px;
  font-family:Trebuchet MS,sans-serif;
}

pre.errlog {
  padding-left:55px;
  background: #FFE784 url(../imgs/error.png) 10px 10px no-repeat;
  min-height: 40px;
  height: auto !important;
  border-width:2px 0 2px 0;
  height:40px;
}

.highlight {
  background-color:#FFFF40;
}

#wikiGoto {
  font-family:Tahoma,Lucida,sans-serif;
  font-size:11px;
}

#wikiGoto input[type="text"] {
  font-family:Tahoma,Lucida,sans-serif;
  font-size:11px;
  width:100px;
}

input[value="Go"] {
  font-family:Tahoma,Lucida,sans-serif;
  font-size:10px;
  width:23px;
}

input[value="OK"] {
  font-family:Tahoma,Lucida,sans-serif;
  font-size:10px;
  width:25px;
}


table.closure, td.closure{
  background-color: #E9ECEF;
}

/*  */
.wikiHr {
  border:0px solid;
  padding: 0px 0px; /* */
  margin-top:0px;
  height:1px;  
/* background: #000 url(hr1.gif) no-repeat scroll center; */
}

#wikiTrailer {
  padding:0;
  padding-left: 20px;
  font-family: "Trebuchet MS",Georgia,sans-serif;
}

.wikiNavigation {
  background-color:#E0E0E0; 
  padding-top: 5px;
  padding-bottom: 5px;
}

#wikiOrigin {
  background-color:#fafafa; 
  padding-left: 20px;
  padding-top:3px;
  padding-bottom:3px;
}

#wikiHeader {
/*  border-left: 0.8em solid #7B9AC5; /* */
/*  border: 1px solid #7B9AC5; /* */
  color: #000000;
  padding: 0;
  margin-left:5px;
}

#wikiHeader a:link {color:#000000;}
#wikiHeader a:visited {color:#000000;}

#wikiMenuBar {
  padding:2px;
  padding-top:1px;
  height:42px; /* important !!! for IE */
  padding-bottom:0;
  margin:0;
  margin-left:5px;
}

#pMenuLeft {
  background: url("../imgs/ml.png") no-repeat left top;
  z-index:2;
}
#pMenuRight {
  background: url("../imgs/mr.png") no-repeat right top;
  z-index:2;
}

#wikiIcon {
  visibility:hidden;
  float:right;
  padding: 7px 15px;
  text-align: right;
  vertical-align: middle;
}

#wikiMenu {
/*
  background-color: #1690c0;
  color: #1690c0;
*/
  margin:0;
  padding:0;
}

#wikiMenu ul {
  margin:0;
  padding:0;
  list-style:none;
  margin-left:0;
  padding-bottom:3px !important; /* for FF */
  padding-bottom:2px;
  height:43px !important;
  height:44px;
}

#wikiMenu li.first {
  margin-left:5px;
}

#wikiMenu li {
  display:inline;
  margin:0px;
  padding: 10px 10px;
  padding-bottom: 8px !important; /* for FF */
  padding-bottom: 9px;
  float: left;
  position: relative;
  vertical-align:top;
  background: transparent url("../imgs/mi.png") no-repeat right top;
}

#wikiMenu li:hover, #wikiMenu li.current:hover {
  background-color: #98D3FC; /* default */
  /* background-color: #355F88; /* dark blue */
  /* background-color: #F2B568; /* orange */
  text-decoration: none;
  background: transparent url("../imgs/mih.png") no-repeat right top;
}

#wikiMenu li.current {
  text-decoration: none;
  background: transparent url("../imgs/mic.png") no-repeat right top;
}

#wikiMenu li:hover a{
/* color: #1999ee; /* */
  color: #ffffff; /* */
}

#wikiMenu li a:active {
  text-decoration: none;
}

#wikiMenu a, #wikiMenu a:visited, #wikiMenu a:link {
  margin: 0;
  text-decoration: none;
  color:white;
}

#wikiMenu a{
  color:white;
  font-size:11px;
  font-weight:bold;
  font-family: Tahoma,Verdana,sans-serif;
  text-decoration:none;
}

#wikiAction ul {
  list-style:none;
  padding:0;
  margin:0;
  white-space:nowrap;
}

#wikiAction li {
  display:inline;
  padding-left:5px;
  padding-right:5px;
  border-right:1px solid #e0e0e0;
  float:left;
}

#wikiAction a {
  font-size:12px;
}

#wikiBody {
  color: black;
/*  background-color: #fff; /* */
  overflow: hidden; /* magic XXX */
/*  border: 1px dotted #c0c0c0; /* */
/*  border-left: 0.8em solid #E2ECE2;
  border-right: 0.8em solid #E2ECE2; */
/*  border-left: 0.8em dotted; /*solid #6A2525; */
/*  border-right: 0.8em solid #6A2525; */
/*  text-transform: lowercase; /* */
/*  margin: 10px 10px 0px 10px; */
/*  padding: 5px 1em 5px 1em; */
/*  margin-left: 20px; */
/*  padding-left: 1em; /* */
/*  text-indent: 10px; */
/*  border: 0px outset #E2ECE5; */
/*  font-size:16px; 
  border-collapse:collapse; */
}

#wikiBody a:link {
  text-decoration:none;
  color: #125Fab;
}

#wikiBody a:visited {
  /* border-bottom: 1px dotted #bbb; */
  color: #125fab;
}

#wikiBody a:hover {
  color: #2285E8;
  text-decoration:none;
}

#wikiContent {
}

#wikiExtra {
/*  padding-top: 1em; /* */
}

#wikiFooter {
  clear:both;
  padding: 0.5em 2em;
/*  background-color:yellow; */
}

.wikiHints {
  font-family:Georgia,Verdana,Lucida,sans-serif;
  font-size:10px;
  background-color:#C0D3D2;
  padding:5px;
}

#wikiSister {
/*  background-color:lightgreen; /* */
}

#wikiPreview {
  border: 2px solid #a0a0a0;
  margin: 5px 5px 5px 5px;
  padding: 5px 1em 5px 1em;
}


div.indent {
  margin-top: 3px;
  padding-left: 22px;
}

div.quote {
  background: transparent url("../imgs/quote-open.png") no-repeat;
  padding-top: 3px;
  background-color: #f8f8f8; /* */
}

div.diff-removed {
  background-color:#EEBfbb;
}

del.diff-removed {
  color: #999999;
  background-color:white !important; /* */
  /* background-color:#f0f0f0; /* */
  border-right:2px solid #f0f0f0;
  border-left:2px solid #f0f0f0;
  text-decoration:line-through;
}

ins.diff-added {
  background-color:#ccffcc;
}

div.hint { font-size: 10px; background-color: #369; color:white;}
a.purple { font-size: 10px; text-decoration:none;}

/* Blog CSS */
a.purple { font-size: 10px; text-decoration:none;}
div.blog { width:90%; padding: 0em 1em 0em 1em; }
span.blog-user { font-size:10px; }
div.blog-title { font-size:16px; font-weight:bold; }
div.blog-comments { }
div.blog-comment { padding:1em 1em 1em 2em; margin-bottom:5px;border-left: 4px solid #E4F1F4; background-color:#F0F6F8;}
div.blog-comments .separator { display:none;}
div.blog-action { text-align:right; font-size:9px; }

div.blog-date { font-size:18px; font-weight:bold; padding-bottom:5px;}
span.blog-user { font-size:10px; }

div.blog-summary { margin-bottom:10px;}

div.trackback-hint { font-size: 10px; padding: 1em 1em 1em 1em;background-color: #eee;}
/* Calendar */
td.day { background: #e0e0e0; text-align: center;}
td.today { background:#ffffff; text-align: center;}
span.blogged {
  text-decoration:none;
  font-weight:bold; color:#000000; text-align: center;
}

.Calendar a{text-decoration:none;color:black;}

caption.month {
  font-weight:bold;
  white-space:nowrap;
}

/* HierarchicalWiki */
.wikiGroup {
  font-weight:bold;
  padding-left:10px;
  font-family:Tahoma,Lucida,sans-serif;
  font-size:x-small;
  color: #0686db;
}

/* login */
#wikiLogin {
  font-family:Tahoma,sans-serif;
  font-size:x-small;
  font-weight:bold;
}

#wikiLogin input {
  font-family:Verdana,sans-serif;
  /* border:1px solid #848284; /* */
  font-size:x-small;
  font-weight:normal;
}

#commentForm {
  padding:5px;
  background-color:#eeeeee;
}

#commentForm input {
  /* border:1px solid #848284; /* */
  font-size:x-small;
  font-family:Verdana,sans-serif;
}

/* enscript syntax */
div.wikiPre i,div.wikiPre b{
  font-weight: normal;
  font-style: normal;
}

img.imgLeft {
  margin-right : 15px;
  margin-bottom : 5px;
}

img.imgRight {
  margin-left : 10px;
  margin-bottom : 5px;
}

span.externalLink {
  display: none;
}

span.lineNumber {
  color:#c0c0c0;
  /* color:#ffff00; /* */
}

math, math[mode="inline"] {
  font-family: CMSY10, CMEX10, Symbol, Times;
}

.sectionEdit a:link {
  color:#3D9CB4;
}

.commentForm textarea.wiki {
  align:right;
  width:412px; height:136px;
  background:url(../imgs/commentarea.png) no-repeat left top;
  border:none;
  padding:4px 8px;
}

* html .commentForm textarea.wiki { /* IE fix */
  background:url(../imgs/commentarea.png) no-repeat left top fixed;
  padding-right:20px;
}

.commentForm textarea.wiki:hover { background-position:left bottom;}

#goForm input.goto {
  width:160px !important; 
  height:15px;
  background:url(../imgs/goinput.png) no-repeat left top;
  border:none;
  padding:6px 8px;
  font-family: "Trebuchet MS",Georgia,sans-serif;
  font-size:12px;
}

* html #goForm input.goto { /* IE fix */
  background:url(../imgs/goinput.png) no-repeat left top fixed;
}

#goForm input.goto:hover {
  background-position:left bottom;
}

#goForm input.submitBtn {
width:69px; height:26px;
color:#FFF;
font-weight:bold;
padding:2px 5px;
background:url(../imgs/gobutton.png) no-repeat left top;
cursor:pointer;
border:none;}

#goForm input.submitBtn:hover {
  background-position:left bottom;
}

#container {
  margin: 0 auto;
}

#mycontent { /* theme specific */
/*  margin-right:140px; /* */
  padding-right:5px;
}

#wikiSideMenu {
  float:right;
  display:inline;
  padding:5px;
  width:140px;
  border-left:1px dotted #e0e0e0;
  height:100%;
}

.randomQuote {
  font-family: Verdana,Tahoma,sans-serif;
  font-weight:bold;
  margin-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  padding: 10px 0px 10px 0px;
}

.randomPage {
  font-family: Trebuchet MS,sans-serif;
/*  border-bottom: 1px solid #e0e0e0; /* */
  padding: 0px 0px 10px 0px;
}

.calendar {
  font-size:11px;
  font-family: Trebuchet MS,sans-serif;
}

#topIcon {
  text-align:right;
  padding-right:20px;
}
