@import url("../../../css/_base.css");
@import url("../../../css/_extra.css");
@import url("../../../css/_calendar.css");
@import url("../../../css/_user.css");
body {
	margin: 1em;
	background-color: lightgrey;
	color: black;
	font-family: sans-serif;
}
head + body {
	background-image: url(../images/haenim_transparent.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right bottom;
}
form {
	margin: 0px;
	margin-top: 1px;
	margin-bottom: 1px;
}
img {
	border-style: none;
}
/*
[accesskey]:after {
	content: "(" attr(accesskey) ") ";
	font-size: smaller;
}
*/

a.wikiTitle { /* title with reversed link */
	font-family: sans-serif;
	font-size: larger;
	font-weight: bold;
	text-decoration: none;
}
#wikiMenu {
	display: block;
	position: absolute;
	right: 1em;
	top: 1em;
	width: 10em;
	padding: 5px;
	border: 2px solid cornflowerblue;
	background-color: whitesmoke;

	/* to avoid unexpected broad menu on IE */
	word-break: break-all;
}
/* This trick to make a fixed layer is described at
 * http://www.w3.org/Style/Examples/007/menus.html
 */
body>#wikiMenu {
	position: fixed;
	-moz-border-radius: 15px;
}
#wikiMenu a {
	padding: 5px;
	display: block;
	-moz-border-radius: 8px;
	vertical-align: middle;
}
#wikiMenu a:hover {
	background-color: cornflowerblue;
	color: ivory;
}
#wikiIcons a {
	display: inline;
	padding: 2px;
}
#wikiIcons a img {
}
#currentPage, #wikiMap {
	padding: 5px;
	margin-top: 5px;
	border: 1px dotted cornflowerblue;
	-moz-border-radius: 10px;
}
#currentPage:hover, #wikiMap:hover {
	padding: 4px;
	border-width: 2px;
}
#wikiMap {
	line-height: 1.4;
}
#wikiMap a {
	display: inline;
}
#wikiMap a:hover {
	text-decoration: underline;
}
#wikiMap a:after {
	content: ",";
}
#wikiMap a:last-child:after {
	content: "";
}

#gotoForm input {
	background-color: -moz-field;
	color: -moz-fieldtext;
	font-family: -moz-field;
	font-size: inherit;
	-moz-border-radius: 5px;
}
#gotoForm input[type='text'] {
	-moz-appearance: textfield;
	border: 2px inset threedface;
	width: 7em;
}
#gotoForm input[type='submit'] {
	width: 2em !important;
}
#loginForm table, #loginForm table input {
	width: 100%;
}
#loginForm table {
	border-spacing: 0px;
}
a#editor+form select+input[type='submit'] {
	border-width: 1px;
	height: 24px;
	padding-left: 24px;
	font-size: 18px;
	background-image: url("../imgs/stock_save_24.png");
	background-repeat: no-repeat;
}

#wikiMsg, #wikiTrailer, #wikiBody {
	margin-right: 11.5em;
	padding: 5px;
	border: 2px solid cornflowerblue;
	background-color: whitesmoke;
	margin-bottom: 1ex;
}
#wikiTrailer, #wikiBody {
	border-width: 1px;
}
#wikiBody {
	padding: 1ex;
	-moz-border-radius: 15px;
	background-color: white;
	line-height: 1.4;
}
#wikiBody ul, #wikiBody ol {
	margin-top: 0px;
	margin-bottom: 1em;
}
div.indent {
	margin-left: 2em;
	margin-bottom: 1em;
}

#wikiHint {
}
#wikiPreview {
	background-color: ivory;
}
#wikiSister {
}

td.headline {
    font-family: Helvetica,sans-serif;
    font-size: 20pt;
}

h1,h2,h3,h4,h5 {
	color: #005A9C; /* W3C */
	line-height: 1.2;
	border-bottom: thin solid black;
	padding-left: 1ex;
	margin:3px;
	font-family: cursive;
}

a.nonexistent {
	font-size: 0px;
}
a.nonexistent:before {
	content: url("../imgs/no-link-0.png");
}
a.nonexistent:visited {
    background-color: #F8F8F8;
    color: #FF2222;
}
a.external {
    color: #AA6600;
}
tt {
    padding-left:6px;
    padding-top:6px;
    font-family:monotype,monospace;font-size:14px;
}
tt.foot {
  font-family:Tahoma,monospace;
  font-size:11px;
  vertical-align: super;
}

tt.sister {
  font-family:monospace;
  font-size:xx-small;
  vertical-align: super;
}

pre.wiki { /* {{{ }}} */
	margin: 0px;
}
pre.code {
    margin-top: 8pt;
    margin-bottom: 8pt;
    background-color: #E0E0E0;
    border-style:none;
    border-width:thin;
    width:100%;
}
span.diffold,div.diffold {
    background-color: #FFFF80;
    border-style:none;
    border-width:thin;
    width:100%;
}
span.diffnew,div.diffnew {
    background-color: #80FF80;
    border-style:none;
    border-width:thin;
    width:100%;
}
strong.highlight {
    background-color: #FFBBBB;
}

table.wiki {
    background-color: #E0F4FF;
    border-color:silver;
}
td.wiki {
	border: 1px dotted gray;
}

table.closure, tr.closure, td.closure { /* {{| |}} */
    background-color: ivory;
    text-align:left;
    padding: 5px;
    margin: 0px 10px;
}
span.closure {
    background-color: #FFFF99;
}

.diff-sep {
	border-bottom: 1px solid black;
}
.insert-diff {
    background-color: #9999FF;
    text-decoration: underline;
}
.delete-diff {
    background-color: red;
    text-decoration: line-through;
}
.replace-diff {
    background-color: silver;
}
ins.diff-added {
  color:black;
  background-color: #60FF60;
  text-decoration: none;
}
del.diff-removed {
  color:black;
  background-color: #FF0000;
}

.preformat {
    white-space: pre-wrap;
    font-family: vt100,monospace;
    word-wrap: break-word;
}

hr.wikiHr {
	display: none !important;
}

#content {
	width: auto;
}
form>#content {
	width: 100%;
}
#summary {
	width: 100%;
}

#wikiBody b {
}
#wikiBody i {
}

.rcTable {
	border-spacing: 1ex 0px;
}
.rcTable td {
	vertical-align: top;
}
.rcTable .page a {
	display: block;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 1ex;
	border-right: 1px dotted cornflowerblue;
}
.rcTable a:hover {
	background-color: cornflowerblue;
	color: ivory;
	-moz-border-radius: 5px;
}
.rcTable .icon, .rcTable .timestamp {
	white-space: pre;
	text-align: right;
}

/* HierarchicalWiki */
div.wikiGroup {
  font-family:Tahoma,Lucida,sans-serif;
  font-size:10px;
}

/* enscript syntax */
div.wikiPre i,div.wikiPre b{
  font-weight: normal;
  font-style: normal;
}

img.imgLeft {
  margin-right : 15px;
  margin-bottom : 5px;
}

img.imgRight {
  margin-left : 10px;
  margin-bottom : 5px;
}

span.externalLink {
  display: none;
}

span.lineNumber {
  color:#ffff00;
}
