.wikiwyg_toolbar {
/*  background: #EBE8D5; /* */
/*  border: 1px outset #ACA899; /* */
    letter-spacing: 0; /* */
    line-height: 210%; /* */
    padding: 2px;
}

span.wikiwyg_control_link a {
/*  padding-right: 8px; /* */
    font-family:Trebuchet MS,sans-serif;
    padding: 4px;
}
span.wikiwyg_control_link {
}

.wikiwyg_toolbar label {
    padding:4px;
    border:1px outset ThreeDFace;
    background: ThreeDFace;
}

.wikiwyg_toolbar label.selected {
    padding:4px;
    border:1px outset ThreeDHighlight;
    background: ThreeDHighlight;
}

.wikiwyg_button {
/*  background: #EBE8D5; /* */
/*  border: 1px solid #EBE8D5; /* */
    border: 1px solid transparent;
    cursor: pointer;
    width: 23px;
    height: 22px;
    vertical-align: bottom;
}

.wikiwyg_button:hover {
    border: 1px outset;
}

.wikiwyg_button:active {
    border: 1px inset;
}

.wikiwyg_separator {
/*  background: #EBE8D5; /* */
/*  border: 1px solid #EBE8D5; /* */
    width: 8px;
    height: 20px;
    vertical-align: bottom;
}

.wikiwyg_selector {
    width: 70px;
}

.wikiwyg_wysiwyg table {
    border-collapse: collapse;
    margin-bottom: .2em;
}

.wikiwyg_wysiwyg table td {
    border: 1px;
    border-style: solid;
    padding: .2em;
    vertical-align: top;
}

