<?php
# $title, $logo
# $menu, $icon, $upper_icon, $rss_icon, $user_link
# $msg
?>
<table border='0'><tr>
<td colspan='2'><?=$title?></td><td align='right'><?=$logo?></td></tr>
<tr><td><?php echo $goto_form?></td></tr>
<tr><td><?php echo $menu?></td><td><?php echo $icons?><?php echo $rss_icon?></td><td><?php echo $user_link?></td></tr>
</table>
<?php echo $msg?>
