Wiki http://c2.com/cgi/wiki? Wiki
Foldoc http://foldoc.doc.ic.ac.uk/foldoc/foldoc.cgi?$PAGE foldoc
#WikiPedia http://www.wikipedia.org/wiki/ PediaWiki
#MoinMoin http://purl.net/wiki/moin/

# MetaWikis
#MathWorld http://mathworld.wolfram.com/$PAGE.html Wolfram
#ChemistryWorld http://Scienceworld.wolfram.com/chemistry/$PAGE.html Wolfram
#PhysicsWorld http://scienceworld.wolfram.com/physics/$PAGE.html Wolfram
#BiographyWorld http://scienceworld.wolfram.com/Biography/$PAGE.html Wolfram

# Korean wikis
#Jangnan http://www.jangnan.org/wiki/moin.cgi/
#Freefeel http://freefeel.org/wiki/
#GnomeKorea http://gnome.or.kr/moin.cgi/
#LovolNet http://lovol.net/
#KTUG http://faq.ktug.or.kr/mywiki/
#KLE http://chem.skku.ac.kr/~kle/moin/
#NoSmoke http://no-smok.net/nsmk/
#SFReaders http://www.sfreaders.org/moin.cgi/
#WIM http://linux.mizi.com/wim/
MoniWiki http://moniwiki.sf.net/wiki.php/
#MoniWikiDev http://chemie.skku.ac.kr/wiki/wiki.php/
